<h2>Order Summary</h2>

<h4>Total : ₹ @ViewBag.Total</h4>

<h4>Discount : ₹ @ViewBag.Discount</h4>

<h4>Final Amount : ₹ @ViewBag.Final</h4>

<a asp-action="Checkout"
class="btn btn-success">

Proceed To Checkout

</a>