@model Assignment12.Models.Stationery



<h2>Add Stationery</h2>

<form asp-controller="Stationery" asp-action="Stationery" method="post">

    <div>
        <label asp-for="ItemName"></label>
        <input asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" style="color:red"></span>
    </div>

    <br />

    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" style="color:red"></span>
    </div>

    <br />

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" style="color:red"></span>
    </div>

    <br />

    <div>
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" />
        <span asp-validation-for="Stock" style="color:red"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Save Stationery
    </button>

</form>

<div asp-validation-summary="All" style="color:red"></div>

  <a href="@Url.Action("Logout","Home")">Logout</a>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}