@model ShopEase.Models.Product
@using ShopEase.Controllers

<h2>Add Product</h2>

<form method="post">

<div class="mb-3">
<label>Product ID</label>
<input asp-for="ProductId" class="form-control"/>
</div>

<div class="mb-3">
<label>Name</label>
<input asp-for="Name" class="form-control"/>
</div>

<div class="mb-3">
<label>Category</label>
<select asp-for="Category" class="form-control">

@foreach(var c in CategoryController.categories)
{
<option>

@c.CategoryName

</option>
}

</select>
</div>

<div class="mb-3">
<label>Description</label>
<input asp-for="Description" class="form-control"/>
</div>

<div class="mb-3">
<label>Brand</label>
<input asp-for="Brand" class="form-control"/>
</div>

<div class="mb-3">
<label>Price</label>
<input asp-for="Price" class="form-control"/>
</div>

<div class="mb-3">
<label>Quantity</label>
<input asp-for="Quantity" class="form-control"/>
</div>

<div class="mb-3">
<label>Discount</label>
<input asp-for="Discount" class="form-control"/>
</div>

<div class="mb-3">
<label>Rating</label>
<input asp-for="Rating" class="form-control"/>
</div>

<button class="btn btn-success">
Save Product
</button>

<a asp-action="Index"
class="btn btn-primary">
View Products
</a>

</form>

<h4 class="text-danger">

@ViewBag.Error

</h4>