@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">

    <h1>ShopEase</h1>

    <h4>Online Shopping Management System</h4>

    <br />

    <a class="btn btn-success btn-lg"
       asp-controller="Customer"
       asp-action="Register">
        Customer Registration
    </a>

    <br /><br />

    <a class="btn btn-primary btn-lg"
       asp-controller="Customer"
       asp-action="Login">
        Customer Login
    </a>

    <br /><br />

    <a class="btn btn-dark btn-lg"
       asp-controller="Admin"
       asp-action="Login">
        Admin Login
    </a>

</div>
