<h2>

Welcome @ViewBag.Name

</h2>

<hr>

<div class="row">

<div class="col-md-3">

<a class="btn btn-warning w-100"
asp-controller="Product"
asp-action="Index">

Products

</a>

</div>

<div class="col-md-3">

<a class="btn btn-info w-100"
asp-controller="Cart"
asp-action="Index">

Shopping Cart

</a>

</div>

<div class="col-md-3">

<a class="btn btn-success w-100"
asp-controller="Order"
asp-action="Index">

Orders

</a>

</div>

<div class="col-md-3">

<a class="btn btn-danger w-100"
asp-action="Logout">

Logout

</a>

</div>

</div>